<%
meta :title => "Change Passowrd",
     :description => "Your StarterPad profile page. Here you can update your password.",
     :keywords => "change, password, starterpad"
%>

<%= content_for :title do %>
  Change Password
<% end %>
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="infoBlok">
      <%= form_for current_user, :url => user_path(current_user), :html => { :multipart => true } do |f| %>
        <%= render 'shared/error_messages', :user => current_user %>
          <div class="formRow"> 
            <div class="col-md-4 col-sm-4 col-xs-12 frLeft">
              <span>New Password</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 frRight"> 
              <%= f.password_field :password, {:placeholder=>'Password (at least 8 characters)', :style=>'width:300px', :required => true } %> 
            </div>
            <div style="clear:both"></div>
          </div>
          <div class="formRow"> 
            <div class="col-md-4 col-sm-4 col-xs-12 frLeft">
              <span>Confirm New Password</span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 frRight"> 
              <%= f.password_field :password_confirmation, {:placeholder=>'Confirm your new password', :style=>'width:300px', :required => true } %> 
            </div>
            <div style="clear:both"></div>
          </div>
        <div class="formRow last">
          <div class="col-md-4 col-sm-4 col-xs-12 frLeft">
            &nbsp;
          </div>
          <div class="col-md-8 col-sm-8 col-xs-12 frRight">
            <%= f.submit "Update", class: "btn btn-primary", style: "width:100px;" %>
          </div>
          <div style="clear:both"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <%= render 'users/partials/menu' %>
  </div>
</div>