<div class="col-md-6 col-sm-6 col-xs-12 ">
  <div class="userTwoInLineTab">
  	<div class="photo">
  		<%= link_to profile_path(user) do %>
  			<%= image_tag user._photo(:thumb) %>
  		<% end %>
  	</div>
    <div class="text">
    	<% if user.title? %>
    		<%= link_to profile_path(user) do %>
    			<%= user.title %>
    		<% end %>
    	<% end %>
    	<div class="summary">
      	<% if user.profile.summary? %>
  	    	<span>
  	    		<%= truncate(user.profile.summary, :lenght => 29) %>
  	    	</span>
      	<% end %>
   		</div>
    </div>
  </div>
</div>