<div class="footer container">
	<div class="row">
	  <div class="col-md-12">
        <hr>
	    <div class="bottomLine-inner">
	      <div class="row">
	        <div class="col-md-10 col-md-offset-1 bottomLineInside">
	          <ul>
	            <li>© <%= Time.now.year %> StarterPad</li>
	            <% if defined? current_user[:name] %>
	              <li><%= link_to "Badges", badges_path %></li>	           
	            <% end %>
                <li><%= link_to "Contact", contact_index_path %></li>
                <li><%= link_to "Blog", '/blog/' %></li>
                <li><%= link_to "Resources", '/blog/resources/' %></li>	            
	            <li><%= link_to "Terms", terms_path %></li>
	            <li><%= link_to "Privacy", privacy_path %></li>
	            <div style="clear:both"></div>
	          </ul>
	        </div> <!-- .bottomLineInside -->
	      </div>          
	      <div class="footer-social">
	        <a href="//twitter.com/StarterPad" target="_blank">
		        <i class="fa fa-twitter-square fa-2x" style="margin-top:3px;margin-left: 3px;"></i>
		      </a>
		      <a href="//fb.com/StarterPad" target="_blank">
		        <i class="fa fa-facebook-square fa-2x" style="margin-top:3px;margin-left: 3px;"></i>
		      </a>
		      <a href="//plus.google.com/+Starterpad/posts" rel="publisher" target="_blank">
		        <i class="fa fa-google-plus-square fa-2x" style="margin-top:3px;margin-left: 3px;"></i>
		      </a>
		      <a href="//www.linkedin.com/company/starterpad" target="_blank">
		        <i class="fa fa-linkedin-square fa-2x" style="margin-top:3px;margin-left: 3px;"></i>
		      </a>
		      <a href="//www.pinterest.com/starterpad/" target="_blank">
		        <i class="fa fa-pinterest-square fa-2x" style="margin-top:3px;margin-left: 3px;"></i>
		      </a>
		      <a href="//starterpad.tumblr.com/" target="_blank">
		        <i class="fa fa-tumblr-square fa-2x" style="margin-top:3px;margin-left: 3px;"></i>
		      </a>
	      </div> <!-- .bottomLineInside -->         
	    </div> <!-- .bottomLine-main -->
	  </div>
	</div>
</div>
<br/>